{{ define "main" }}
<div class="flex-container-11">
  {{- partial "header.html" . -}}
  <div class="flex-container-10">
    <div class="flex-container-9">
      <div class="flex-container-8">	
        <div class="flex-container-7">
          <div class="h1_left">Hire Founders Looking for a Side Gig</div>
          <div class="text">Looking to hire a part-time and remote software engineer? We've got some great ones that we pre-screened for you.</div>
        
          <div class="flex-container-18">
            <a href="/company" class="button">Hire a developer</a> 
  <!--        	<button onclick="location.href='/company'" type="button" class="button">Find a developer</button> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="flex-container-10">
    <div class="flex-container-9-2">
      <div class="flex-container-12">
        <div class="image">
          <img src="/images/fd_founders.png" class="logo_2">
        </div>
        <h2>Founders founders founders<h2>
        <p>Some of the greatest people we know are founders. They are self-starters, think differently, and have an inherent drive to deliver quality. Founders don't only do the bare minimum, but genuinely want to make great things.</p>
      </div>
      <div class="flex-container-12">
        <div class="image">
          <img src="/images/fd_good_companies.png" class="logo_2">
        </div>        
        <h2>Part-time, part family</h2>
        <p>Froggodoggo is not a freelancer or outsourcing site. We know that the best work is done if people you hire are a real part of your team. We make sure to select companies and founders who think that way.</p>
      </div> 
      <div class="flex-container-12">
        <div class="image">
          <img src="/images/fd_fair_wages.png" class="logo_2">
        </div>  
        <h2>Fair wages for fair work</h2>
        <p>We think quality is worth paying for. If you're looking to get a quick and cheap project done, keep walking. Froggodoggo is free for founders, and companies pay a one-time matching fee of USD $300 for a successful hire.</p>
      </div>       
    </div>
    <!--<div class="flex-container-6">
      <a href="/">
        <img src="/images/fd_logo.png" class="logo_2">
      </a>
      <a href="/">
        <img src="/images/fd_logo.png" class="logo_2">
      </a>
      <a href="/">
        <img src="/images/fd_logo.png" class="logo_2">
      </a> 
    </div> -->
  </div>


{{ end }}