{{ define "main" }}

<div class="flex-container-13">

  {{- partial "header.html" . -}}
  <div class="flex-container-14">
    <div class="flex-container-15">  
      <h1>{{ .Params.inpage_title }}</h1>

        {{ .Content }}
        <div class="text">Froggodoggo let's you find a developer who is looking for a side gig from a pre-screened pool of founders. You can apply and browse for free.</div>
      <div class="flex-container-18">
        <a href="/company/apply" class="button">Apply as a Company</a> 
      </div>
        <div class="text-header">Pricing</div>
        <div class="text">You can browse founders for free. Once you want to contact a candidate, we'll put a deposit of USD $300 on your card. If you decide not to hire them, we'll release the deposit. If you do hire them, we'll charge your card. Easy peasy.</div>
    </div>
  </div>

  <div class="flex-container-10">
      <div class="flex-container-9-3">
        <div class="flex-container-12">
          <div class="image">
            <img src="/images/fd_founders.png" class="logo_2">
          </div>
          <h2>Founders founders founders</h2>
          <p>Some of the greatest people we know are founders. They are self-starters, think differently, and have an inherent drive to deliver quality. Founders don't only do the bare minimum, but genuinely want to make great things.</p>
        </div>
        <div class="flex-container-12">
          <div class="image">
            <img src="/images/fd_simple.png" class="logo_2">
          </div>
          <h2>Simple as a fox</h2>
          <p>That's not an actual expression, but it should be and you know what we mean. When you want to hire a great new engineer, just filter and browse thorugh our database, interview the candidates you want, and pay us their monthly salary. We'll forward to them (we swear). We take care of all admin and legal things.</p>
        </div> 
        <div class="flex-container-12">
          <div class="image">
            <img src="/images/fd_fair_wages.png" class="logo_2">
          </div>
          <h2>Super fair costs</h2>
          <p>We think most platforms charge too much money and can be intransparent. We're upfront and fair: We charge a one-time matching fee of USD $300 for introducing you to a candidate. The best part: You get your money back if you don't end up hiring them.</p>
        </div>       
      </div>
    </div>
  </div>

</div>
{{ end }}
