<nav class="flex-container-1">
  <div class="center-image">
    <a href="/">
      <img src="/images/fd_test_v1_5_4.png" class="logo">
    </a>
  </div>

  <div class="flex-container-3" id="navBigScreen">
    <div class="">
      {{ range .Site.Menus.main }}
        <a href={{ .URL }} class="flex-container-5">
          {{ .Title }}
        </a>
      {{ end }}
      <a href="https://app.froggodoggo.com/login" class="flex-container-5">
        Login
      </a>
    </div>   
  </div>

    <div id="openMenu">
      <div class="burger"></div>
      <div class="burger"></div>
      <div class="burger"></div>
    </div>

    <div id="menuContainer">
      <div class="flex-container-20">
        <span class="flex-container-21" id="closeMenu">x</span>
        {{ range .Site.Menus.main }}
          <a href={{ .URL }} class="flex-container-5">
            {{ .Title }}
          </a>
        {{ end }}
        <a href="https://app.froggodoggo.com/login" class="flex-container-5">
          Login
        </a>
      </div>   
    </div>
</nav>
